<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LoginCheck</filter-name>
        <filter-class>thanhtrang.online.thanhtrang.filter.LoginCheck</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginCheck</filter-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/create</url-pattern>
        <url-pattern>/createreceiptbycustomer</url-pattern>
        <url-pattern>/createreceiptbycustomer_eyeonlysave</url-pattern>
        <url-pattern>/currentmonth</url-pattern>
        <url-pattern>/customer</url-pattern>
        <url-pattern>/customerdetail</url-pattern>
        <url-pattern>/hoadon</url-pattern>
        <url-pattern>/otherbycustomer</url-pattern>
        <url-pattern>/otherbycustomersave</url-pattern>
        <url-pattern>/receiptbycustomer</url-pattern>
        <url-pattern>/receiptbycustomer_eyeonly</url-pattern>
        <url-pattern>/</url-pattern>
        <url-pattern>/today</url-pattern>
        <url-pattern>/yesterday</url-pattern>
        <url-pattern>/yestermonth</url-pattern> 
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
